#elem{
    

        border-width: 3px;    
            border-style: dotted;  
            border-color: red;    
            width: 300px;
            height: 100px;
    }
#da{
    

        border-width: 3px;    
            border-style: dashed;  
            border-color: yellow;    
            width: 300px;
            height: 150px;
    }
#chetire{
    

        border-width: 7px;    
            border-style: double;  
            border-color: blue;    
            width: 300px;
            height: 100px;
    }