#odin{
	color: darkred;
	text-decoration: overline;

}

#dva{
	text-decoration: underline;
	margin-left: 300px;

}
#tri{
	color: green;
	text-align: center;
}
#chetire{
	text-align: center;
}
